.banner {
    background: url(../images/himalaya.jpg) no-repeat center center;
    /*background-attachment: fixed;*/
    display: table;
    height: 100vh;
    width: 100%;
    background-size: cover;
    color: #FFF;
}
.banner h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 48px;
    line-height: 64px;
}
.banner h1 small{
    font-weight: 100;
    font-style: italic;
    font-size: 32px;
    color: #FFF;
}